* {
    image-rendering: pixelated;   
}

body {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

canvas{
    border:64px ridge #880000;
}
@media screen and (orientation : portrait){

    canvas {
        border: 32px ridge rgb(23, 48, 91);
    }
}